.custom-navbar {
  background-color: #f0e0f4;
  padding: 1rem;

}

.custom-navbar .navbar-brand {
  color: #612461;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.custom-navbar .nav-link {
  color: #612461;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.custom-navbar .nav-link:hover {
  color: #9b59b6;
  text-decoration: underline;
}

.custom-navbar .nav-link.active {
  color: #9b59b6;
  font-weight: bold;
}

.custom-navbar .navbar-toggler {
  border-color: #612461;
}

.login-btn {
  background-color: #612461;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.register-btn {
  background-color: #ffffff;
  color: #612461;
  border: 1px solid #612461;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.App {
  text-align: center;
}

.form-control {
  margin-bottom: 1rem;
  border-radius: 40px;
  max-width: 400px;
  margin: 0 auto;
}

.form-control:focus {
  border-color: #d397ea;
  box-shadow: 0 0 5px rgba(150, 101, 169, 0.5);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.transaction-history {
  background-color: #f0e0f4;
  border-radius: 10px;
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1{
  padding-top: 30px;
  padding-bottom: 10px;
}
h2 {
  padding-top: 30px;
  padding-bottom: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
}


.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}